@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SF-Pro-Display-Black.otf');
  src: url('../assets/fonts/SF-Pro-Display-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SF-Pro-Display-Black.otf');
  src: url('../assets/fonts/SF-Pro-Display-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SF-Pro-Display-Heavy.otf');
  src: url('../assets/fonts/SF-Pro-Display-Heavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SF-Pro-Display-Bold.otf');
  src: url('../assets/fonts/SF-Pro-Display-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SF-Pro-Display-Semibold.otf');
  src: url('../assets/fonts/SF-Pro-Display-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SF-Pro-Display-Regular.otf');
  src: url('../assets/fonts/SF-Pro-Display-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
