:root {
  --book-width: 30%;
  --book-height: 9em;
  --background-color: #fffcf9;
  --pink: #ff6978;
  --darker-black: #000;
  --black: #313131;
  --grey: #5a5a5a;
  --blue-outline: rgba(64, 206, 245, 0.502);
  --input-background: #fdfcfc;
}

body,
html {
  background-color: var(--background-color);
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;

  font-family: 'SF Pro Display', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: var(--black);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  align-self: flex-start;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2 {
  margin: 0;
}

input {
  min-width: 0;

  &[type='text']:focus,
  &[type='search']:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--blue-outline);
  }
}

textarea {
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--blue-outline);
  }
}

/* unvisited link */
a:link {
  color: inherit;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: inherit;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: inherit;
}

/* selected link */
a:active {
  color: inherit;
}

.container {
  display: flex;
  padding: 50px 20px;
  margin: 0 auto;
  width: 100%;
}

.container--column {
  flex-direction: column;
}

@media only screen and (min-width: 425px) {
  :root {
    --book-width: 20%;
    --book-height: 8em;
  }
}

@media only screen and (min-width: 768px) {
  :root {
    --book-width: 10%;
    --book-height: 9.5em;
  }
}

@media only screen and (min-width: 1224px) {
  :root {
    --book-width: 10%;
    --book-height: 12em;
  }
}
