.greeting {
  display: flex;
  color: #54565a;

  margin: 30px 0;
  .greeting__message {
    font-size: 150%;
    font-weight: 400;

    span {
      font-weight: 600;
      color: var(--pink);
    }
  }
}

.book__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--book-width));
  column-gap: 1em;
  row-gap: 0.5em;

  width: 100%;

  margin-bottom: 5vh;
}
